*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: url("../Imagen/PLANTILLA.jpg") no-repeat center;
    background-size: cover;  
}

/*POSICIÓN DE TODA LAS COSAS EN EL CENTRO*/
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex-wrap;
    justify-content: center;
    align-items: center;
    padding: 35px 100px;
}

.container:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.6;
    z-index: -1;
}



/*UBICACIÓN Y COLOR DEL CONTENDOR DIVIDIDO*/
.contact-box{
    max-width: 870px;
    height: 400px;
    display:  flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.88;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    flex-direction: column;
    margin-top: 8%;
}

/*POSICIÓN Y TAMAÑO CONTENEDOR DE TEXTO*/
.informacion{
    width: 700px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #9a57dd;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 25px;
    color: white;
    margin: 0 auto;
}
.form-group{
    margin: 10px;
}



.contact-box .left, .right{
    flex-basis: 50%;
}

.left{
    margin: 0;
    height: 100%;
    width:50%;

}

/*TAMAÑO Y POSICIÓN IMAGEN*/

.left img{
    height: 85%;
    width: 95%;

}

/*POSICIÓN TITULO*/

h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

h1{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
}


/*TAMAÑO Y DISTANCIA CUADROS DE TEXTO*/
.form-control{
    width: 95%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.form-control:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

textarea{
    min-height: 150px;
}

/*BOTON*/
.boton{
    margin: 12px;
    margin-top: 30px;
}
.boton .btn{

    width: 60%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    
}

.boton .btn:hover{
    background-color: #27ae60;
}

.form-control:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}



.preguntas{
    margin: 0 auto;
    max-width: 900px;
    display:  flex;
    
    flex-direction: row;
   

}

.seccion{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
}

@media screen and (max-width: 880px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
}